html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
	font-family: 'Muli', sans-serif;
	margin: 0;
	padding: 0;
	overflow: auto;
	height: 100%;
    background-repeat: no-repeat;
	background-attachment: fixed;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f6f8+0,b5c6d0+52,e0eff9+100 */
	background: #f2f6f8; /* Old browsers */
	background: -moz-linear-gradient(top,  #f2f6f8 0%, #b5c6d0 52%, #e0eff9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f6f8), color-stop(52%,#b5c6d0), color-stop(100%,#e0eff9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f2f6f8 0%,#b5c6d0 52%,#e0eff9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f2f6f8 0%,#b5c6d0 52%,#e0eff9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f2f6f8 0%,#b5c6d0 52%,#e0eff9 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f2f6f8 0%,#b5c6d0 52%,#e0eff9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 ); /* IE6-9 */
}
a {
	text-decoration: none;
	color: #0999FF;
}
ul {
	padding: 0;
}
.top-navigation {
	text-align: center;
	width: 100%;
	height: 6em;
	background-color: #FFFFFF;
	float: left;
	position: fixed;
	z-index: 9999;

	-webkit-box-shadow: 0px 60px 90px -11px rgba(50, 50, 50, 0.25);
	box-shadow:         0px 60px 90px -11px rgba(50, 50, 50, 0.25);
}
.name {
	font-size: 1em;
	font-weight: 600;
	font-style: italic;
	vertical-align: middle;
	line-height: 3em;
	margin: 0;
}
.icons {
	margin: 0 0 1em 0;
}
.icons > li {
    display: inline-block;
    border: 1px solid #0999FF;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
    margin: -0.3em 5px 0.2em;
}
.icons li > a {
    color: black;
    font-size: 1em;
}
.banner {
  position: absolute;
  padding-top: 5em;
  z-index: 9000;
}
.glass {
  width: 115%;
  height: 2em;
  margin: 0 auto;
  margin-left: -2em;
}
.me-image {
	width: 135px;
	height: 146px;
	float: left;
	border-radius: 5px;
	margin: 0 7em 1em 0;
}
.intro {
	text-align: justify;
	width: 80%;
	margin: 0 auto 2em;
	padding-top: 8em;
}
.image {
	width: 200px;
}
.image-mobile {
	width: 150px;
	margin: 1em auto;
}
.portfolio {
	text-align: left;
	width: 80%;
	margin: 0 auto;
}
.case {
	display: inline-block;
	text-align: center;
	width: 100%;
	margin: 1em auto;	
	outline: #FFFFFF solid 2px;
	padding: 0 1em 2em;
}
.case h2 {
	font-size: 1.5em;
	margin-bottom: 0;
}
.case h3 {
	font-size: 1.25em;
	color: #044C7F;
	margin-top: 0;
}
.case p {
	text-align: justify;
}

@media (min-width: 350px) {
	.name {
    font-size: 1.25em;
  }
	.icons {
		margin: 0 0 2em 0;
	}
	.icons > li {
    	display: inline-block;
    	width: 2em;
    	height: 2em;
    	line-height: 2em;   
    	margin: -0.3em 5px 0.2em;
	}
	.icons li > a {
    	font-size: 1em;
	}
	.me-image {
		margin: 0 15em 1em 0;
	}
	.intro {
		margin: 0 auto;
		padding-top: 8em;
	}
	.portfolio {
		width: 70%;
		margin: 2em auto;
	}
	.image {
		width: 275px;
	}
}

@media (min-width: 450px) {
	.top-navigation {
		height: 8em;
	}
	.name {
		font-size: 1.5em;
		line-height: 3em;
	}
	.icons {
		margin: 0 0 2em 0;
	}
	.icons > li {
    	display: inline-block;
    	width: 2.5em;
    	height: 2.5em;
    	line-height: 2.5em;   
    	margin: -0.3em 5px 0.2em;
	}
	.icons li > a {
    	font-size: 1.75em;
	}
	.banner {
		padding-top: 7em;
	}
	.me-image {
		margin: 0 1em 1em 0;
	}
	.intro {
		padding-top: 10em;
	}
	.portfolio {
		width: 70%;
	}
	.image {
		width: 275px;
	}
}

@media (min-width: 800px) {
	.name {
		font-size: 2em;
		line-height: 2.5em;
	}
	.icons {
		margin: 0 0 2em 0;
	}
	.intro {
		width: 65%;
		padding-top: 11em;
	}
	.portfolio {
		width: 65%;
	}
	.case h2 {
	font-size: 2em;
	}
	.image {
		width: 400px;
	}
}

@media (min-width: 1000px) {
	.intro {
		width: 55%;
	}
	.portfolio {
		width: 55%;
	}
}
@media (min-width: 1200px) {
	.intro {
		width: 40%;
	}
	.portfolio {
		width: 40%;
	}
	.image {
		width: 500px;
	}
	.image-mobile {
		margin-right: 2em;
	}
}